.pokemon-card {
  max-width: 500px;
}
.mat-list-item{
  height: auto;
}
.my-grid-tile {
  padding-top: 24px !important;
  height: 10px;
}
.mat-grid-tile-footer{
  position: sticky;
  top:260px;
  margin-left: 110px;
  background: rgba(0,0,0,0)!important;
}
